global:
  domain: argocd.unixworld.io

configs:
  params:
    server.insecure: true

  secret:
    argocdServerAdminPassword: "$2a$10$B861boRWuTgal9sim8pm5.PCYKVQL5AEynyqqH4EdHGE5zpSnUU46"

## Repo Server
repoServer:
  # -- Repo server name
  name: repo-server

  # -- The number of repo server pods to run
  replicas: 3

  # -- Runtime class name for the repo server
  # @default -- `""` (defaults to global.runtimeClassName)
  runtimeClassName: ""

  ## Repo server Horizontal Pod Autoscaler
  autoscaling:
    # -- Enable Horizontal Pod Autoscaler ([HPA]) for the repo server
    enabled: false
    # -- Minimum number of replicas for the repo server [HPA]
    minReplicas: 3
    # -- Maximum number of replicas for the repo server [HPA]
    maxReplicas: 5
    # -- Average CPU utilization percentage for the repo server [HPA]
    targetCPUUtilizationPercentage: 50
    # -- Average memory utilization percentage for the repo server [HPA]
    targetMemoryUtilizationPercentage: 50
    # -- Configures the scaling behavior of the target in both Up and Down directions.

server:
  replicas: 3
  ingress:
    enabled: true
    ingressClassName: "cilium"
    hostname: argocd.unixworld.io
    pathType: Prefix
    path: /
    tls: true
    extraTls:
      - secretName: ""
        hosts:
          - argocd.unixworld.io
