---
kubeProxyReplacement: true
gatewayAPI:
  enabled: true
  hostNetwork:
    enabled: true
k8sServicePort: 6443
hubble:
  enabled: true
  metrics:
    enabled:
    - dns
    - drop
    - tcp
    - flow
    - port-distribution
    - httpV2
  relay:
    enabled: true
  ui:
    enabled: true
encryption:
  enabled: true
  type: wireguard
prometheus:
  enabled: true
operator:
  prometheus:
    enabled: true
